:root {
  --body-background: #ffffff;
  --body-color: black;
  --link-color: navy;
}

[data-theme='dark'] {
  --body-background: #282c34;
  --body-color: white;
  --link-color: cyan;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
};
